form(action='/login' method='POST')
    .input-group
        label(for='email') Email
        input#email(type='email', name='email')
    .input-group
        label(for='pass') Pass
        input#pass(type='password', name='password')
    .input-group
        input(type='submit', value='login')
